body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

h1 {
    color: #333;
    text-align: center;
}

.saldo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saldo {
    font-size: 20px;
}

.saldo span {
    display: inline-block;
    min-width: 60px; 
}

.saldo-visible {
    visibility: visible;
}

.saldo-hidden {
    visibility: hidden;
    color: transparent;
    position: absolute;
    left: 67px; 
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #45a049;
}

.form {
    margin-top: 20px;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}
